################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/INFOGRTemplate/FileContentIndex/79062b09-07f2-4ebd-9801-1464fbe19dfb.vsidx
*.vsidx
